@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  font-synthesis: none;
  scroll-padding-top: 100px;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}